<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>introImageFiles</key>
	<array>
		<string>intro1</string>
		<string>intro2</string>
		<string>intro3</string>
		<string>intro4</string>
	</array>
	<key>menuIconImages</key>
	<array>
		<string>navHome</string>
		<string>navAbout</string>
	</array>
	<key>menuIconTitles</key>
	<array>
		<string>پیشخوان</string>
		<string>درباره ما</string>
	</array>
	<key>next</key>
	<string>بعدی</string>
	<key>startApp</key>
	<string>شروع برنامه</string>
	<key>volume</key>
	<string>شماره</string>
	<key>defaultMagazineName</key>
	<string>انار</string>
	<key>versionString</key>
	<string>نسخه ۱.۰.۰</string>
	<key>copyRightString</key>
	<string>© 2017 Koozeh Inst. All Rights Reserved</string>
	<key>signInLabelString</key>
	<string>شماره همراه</string>
	<key>signInMainActionString</key>
	<string>ورود / ثبت نام</string>
	<key>signInSecondaryActionString</key>
	<string>ورود به عنوان مهمان</string>
	<key>signInTextFieldPlaceHolder</key>
	<string>0 9 - - - - - - - - -</string>
	<key>verifyMobileLabelString</key>
	<string>کد تأییدیه را اینجا وارد کنید</string>
	<key>verifyMobileMainActionString</key>
	<string>ثبت و ورود</string>
	<key>verifyMobileSecondaryActionString</key>
	<string>ارسال مجدد کد تأییدیه</string>
	<key>verifyMobileTextFieldPlaceHolder</key>
	<string>- - - - -</string>
	<key>errorOkString</key>
	<string>متوجه شدم</string>
	<key>errorGeneralTitle</key>
	<string>خطای ناشناخته</string>
	<key>errorGeneralMessage</key>
	<string>متأسفانه خطایی در برنامه رخ داده است. مجدداً تلاش کنید.</string>
	<key>errorNetworkTitle</key>
	<string>ارتباط با سرور</string>
	<key>errorNetworkMessage</key>
	<string>ارتباط با سرور کوزه امکان پذیر نمی‌باشد. تنظیمات شبکه خود را بررسی کنید. سپس مجددا امتحان کنید.</string>
	<key>errorWrongVerificationCodeTitle</key>
	<string>خطا کد تأییدیه</string>
	<key>errorWrongVerificationCodeMessage</key>
	<string>کد تأییدیه اشتباه است. لطفا کدی که از طریق پیامک دریافت کردید را وارد کنید.</string>
</dict>
</plist>
